:root {
  --color-dark: #434343;
  --color-gray: #46434e;
  --color-light: #f2f3f2;
  --color-black: #46434e;
  --color-base: #e0e0e0;
  --color-white: #ffffff;
  --color-orange: orange;
  --color-body: #7c808b;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Utility classes */
/* background color */
.bg-dark {
  background-color: var(--color-dark);
}
.bg-gray {
  background-color: var(--color-gray);
}
.bg-orange {
  background-color: var(--color-orange);
}

/* font */
.text-white {
  color: #ffffff;
}
.text-light {
  color: #a7a7a7;
}
.text-dark {
  color: #7c808b;
}
.text-orange {
  color: var(--color-orange);
}
.text-18 {
  font-size: 18px;
}
.text-32 {
  font-size: 32px;
}
.text-36 {
  font-size: 36px;
}
.text-72 {
  font-size: 72px;
}
.bold {
  font-weight: bold;
}
.line-height-28 {
  line-height: 28px;
}
.font-weight-500 {
  font-weight: 500;
}

/* flex */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-20 {
  gap: 20px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}

.px-50 {
  padding: 0px 50px;
}
.mx-50 {
  margin: 0px 50px;
}
.cursor-pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--color-orange);
  border-radius: 6px;
  outline: none;
  padding: 12px 20px;
  color: var(--color-orange);
  font-size: var(--heading6-siz);
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.btn-orange {
  background-color: var(--color-orange);
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 6px;
  color: var(--color-light);
  font-size: var(--heading6-siz);
  cursor: pointer;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */

header {
  padding: 16px 50px;
  border-bottom: 1px solid var(--color-orange);
}

header > nav > a {
  padding: 0px 12px;
}

.mood {
  width: 78px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--color-white);
  display: flex;
  justify-content: end;
  padding: 0px 2px;
}

.moon_icon {
  width: 38px;
  height: 38px;
  background-color: var(--color-base);
  border-radius: 50%;
  display: flex;
  place-items: center;
  justify-content: center;
  color: var(--color-black);
  font-size: smaller;
}

/* Hero section */

.heroSection {
  margin-top: 72px;
}

.heroSection .border {
  width: 100px;
  height: 4px;
  margin-bottom: 48px;
}

.heroDescription {
  max-width: 420px;
}

/* About section */

.aboutSection {
  padding: 72px 40px;
}

.aboutSection > img {
  width: 500px;
}

.avatar {
  display: none;
}

.aboutSectionRight {
  max-width: 475px;
}

/* .aboutSectionRight > div {
  color: var(--color-base);
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
} */

/* Service section */
.serviceSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 48px 40px;
  margin-top: 32px;
}

.serviceSection > .serviceLeft {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.serviceSection > .serviceLeft :nth-child(1) {
  color: var(--color-orange);
  font-size: var(--heading6-siz);
  line-height: 28px;
}

.serviceSection > .serviceLeft :nth-child(2) {
  font-size: 36px;
  font-weight: bold;
}

.serviceSection > .serviceLeft :nth-child(3) {
  color: var(--color-body);
  max-width: 485px;
  font-size: 18px;
  line-height: 28px;
}

.serviceSection > .serviceRight {
  display: flex;
  gap: 40px;
}

.serviceSection > .serviceRight > div > img {
  width: 80px;
  height: 80px;
  padding: 0px 32px;
  margin-bottom: -40px;
}

.serviceSection .card {
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  gap: 24px;
}

.serviceSection .card > p {
  color: var(--color-body);
  line-height: 28px;
}

/* Project section */

.projectSection {
  padding: 48px 0px;
  margin: 32px 50px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.projectHeader > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-orange);
}

.projectHeader .projectHeaderRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
}

.projectHeader .title {
  color: var(--color-orange);
}
.projectHeader .description {
  font-size: 36px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  overflow: hidden;
  width: 100%;
}
.projects > img {
  width: 100%;
}

/* Blog section */

.blogSection {
  padding: 48px 50px;
  margin: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.blogHeader {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.blogHeader .blogHeaderLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.blogHeader .title {
  color: var(--color-orange);
}
.blogHeader .description {
  font-size: 36px;
}

.blogHeader > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-orange);
  padding-right: 40px;
}

.blogs {
  display: flex;
  justify-content: space-between;
}

.blogs > .card {
  max-width: 380px;
}
.blogs > .card > img {
  width: 100%;
  margin-bottom: 24px;
}
.blogs > .card > .desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blogs > .card > .desc > span {
  color: var(--color-body);
}
.blogs > .card > .desc > p {
  font-size: 24px;
}

/* Contact section */

.contactSection {
  background-color: var(--color-gray);
  margin: 0px 50px;
  padding: 48px 40px;
  display: flex;
  justify-content: space-between;
}

.contactSection .btn {
  display: flex;
  align-items: center;
  gap: 14px;
}
.contactSection .btn button:nth-child(1) {
  background-color: transparent;
  border: 1px solid var(--color-orange);
  border-radius: 6px;
  outline: none;
  padding: 12px 20px;
  color: var(--color-orange);
  font-size: var(--heading6-siz);
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.contactSection .btn button:nth-child(2) {
  background-color: var(--color-orange);
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 6px;
  color: var(--color-light);
  font-size: var(--heading6-siz);
  cursor: pointer;
}

/* Footer section */

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0px;
  padding: 16px 50px;
  border-top: 1px solid var(--color-orange);
}

/* 2xl */
/* @media (max-width: 1536px) {
} */

/* xl */
/* @media (max-width: 1280px) {
} */

/* lg */
/* @media (max-width: 1024px) {
} */

/* md */
/* @media (max-width: 768px) {
} */

/* sm */
/* @media (max-width: 640px) {
} */

/* xs */
/* @media (max-width: 475px) {
} */

@media (max-width: 475px) {
  /* Header section */
  header > nav,
  .mood {
    display: none;
  }
  .menuIcon {
    display: block;
  }

  /* Hero section */
  .heroSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 24px;
  }
  .heroDescription h2 {
    font-size: 30px;
    text-align: center;
  }
  .myImg {
    display: none;
  }
  .avatar {
    display: block;
    order: -1;
  }

  .btnGroup {
    flex-direction: column;
  }

  /* About section */
  .aboutSection {
    flex-direction: column;
    padding: 42px 20px;
    width: 100%;
    margin: 0px;
  }

  .aboutSection > img {
    width: 375px;
    margin: 0px auto;
  }

  /* Service setion */
  .serviceSection {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .serviceRight {
    flex-direction: column;
  }

  /* Blog section */
  .blogSection {
    padding: 48px 20px;
    margin: auto;
    /* margin: 32px 0px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 48px; */
  }

  .blogHeader {
    /* display: flex; */
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .blogHeader .blogHeaderLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .blogHeader .title {
    color: var(--color-orange);
  }
  .blogHeader .description {
    font-size: 36px;
  }

  .blogHeader > button {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-orange);
    padding-right: 40px;
  }

  .blogs {
    /* display: flex; */
    /* justify-content: space-between; */
    flex-direction: column;
  }

  .blogs > .card {
    max-width: 380px;
  }
  .blogs > .card > img {
    width: 100%;
    margin-bottom: 24px;
  }
  .blogs > .card > .desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .blogs > .card > .desc > span {
    color: var(--color-body);
  }
  .blogs > .card > .desc > p {
    font-size: 24px;
  }
}
